---
import App from '@/App.vue'
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="Description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />

    <!-- Open Graph Tags -->
    <meta
      property="og:title"
      content="Moiva.io - Discover and Compare NPM packages"
    />
    <meta
      property="og:description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://moiva.io/images/moiva-head.jpg"
    />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_aantipov" />
    <meta
      name="twitter:title"
      content="Moiva.io - Discover and Compare NPM packages"
    />
    <meta
      name="twitter:description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />
    <meta
      name="twitter:image"
      content="https://moiva.io/images/moiva-head.jpg"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png?v=lkvYMB9erB"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png?v=lkvYMB9erB"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png?v=lkvYMB9erB"
    />
    <link rel="manifest" href="/favicon/site.webmanifest?v=lkvYMB9erB" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg?v=lkvYMB9erB"
      color="#404040"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=lkvYMB9erB" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-config"
      content="/favicon/browserconfig.xml?v=lkvYMB9erB"
    />
    <meta name="theme-color" content="#ffffff" />

    <title>Moiva.io - Discover and Compare GitHub and NPM packages</title>

    <style type="text/css" media="screen">
      html,
      body {
        height: 100%;
        min-height: 640px;
      }
      body {
        display: flex;
        flex-direction: column;
      }
      .content {
        flex: 1 0 auto;
      }
      .footer-wrapper {
        flex-shrink: 0;
      }
      .goal-item:before {
        content: '\A';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: black;
        display: inline-block;
        margin: 0 6px 3px;
      }
      @media only screen and (min-width: 640px) {
        .goal-item:before {
          content: '\A';
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: black;
          display: inline-block;
          margin: 0 10px 4px;
        }
      }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />

    <script
      async
      defer
      data-domain="moiva.io"
      src="https://plausible.io/js/plausible.js"
    ></script>
  </head>

  <body class="flex flex-col bg-gray-50">
    <noscript>
      <p style="padding: 20px; font-size: 30px">
        <strong
          >We're sorry but our website doesn't work properly without JavaScript
          enabled. Please enable it to continue.</strong
        >
      </p>
    </noscript>

    <!-- Header -->
    <div class="container mt-5 antialiased md:mt-8">
      <div class="text-center">
        <a
          style="font-family: Oswald, sans-serif"
          class="text-7xl text-black text-opacity-80 no-underline hover:text-black hover:no-underline sm:text-9xl"
          href="/"
          >MOIVA</a
        >
      </div>

      <img
        class="mx-auto h-7 sm:h-14"
        src="moiva.svg"
        width="290"
        height="48"
        alt="Logo - an image of capelin fish"
      />

      <div class="mx-auto mt-8 text-center text-xl sm:text-2xl">
        Evaluate and Compare NPM packages.
      </div>
    </div>

    <div class="container mt-5 md:mt-8">
      <div
        class="mx-4 text-center text-base italic text-black text-opacity-80 sm:mx-0 sm:text-lg"
      >
        We combine data from multiple sources for better Software Evaluation and
        Comparison.
      </div>

      <div
        class="flex flex-wrap items-center justify-center space-x-4 overflow-hidden"
      >
        <div class="pt-2">
          <img
            src="/images/google-logo.png"
            alt="Google logo"
            class="max-h-7"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div class="pt-2">
          <img
            src="/images/npm-logo.png"
            alt="npm logo"
            class="max-h-6"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div>
          <img
            src="/images/github-logo.png?v3"
            alt="GitHub logo"
            class="max-h-5"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div class="pt-2">
          <img
            src="/images/thoughtworks-logo.png"
            alt="ThoughtWorks logo"
            class="max-h-5"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div class="pt-1">
          <img
            src="/images/stateofjs-logo.png?v3"
            alt="StateOfJS survey logo"
            class="max-h-14"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div class="pt-1">
          <img
            src="/images/snyk-logo.png"
            alt="Snyk logo"
            class="max-h-12"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>

        <div class="pt-1">
          <img
            src="/images/bundlephobia-logo.png?v1"
            alt="Bundlephobia logo"
            class="max-h-12"
            height="60"
            style="max-width: 200px"
            loading="lazy"
          />
        </div>
      </div>
    </div>

    <!-- Body -->
    <div id="app" class="flex-grow">
      <!-- Fixed height is used to take into account Popular libraries height to avoid layout shifts  -->
    <App client:only="vue">
      <div style="height: 672px"></div>
    </App>
    </div>

    <!-- Footer -->
    <div class="footer-wrapper">
      <div>
        <div
          class="my-0 bg-primary pt-5 pb-7 text-base font-extralight text-white"
        >
          <div class="content container px-10 antialiased sm:px-24">
            <div class="mx-auto w-full lg:w-9/12 xl:w-2/4">
              <div class="mb-4 flex items-center justify-center">
                <span>Made with</span>
                <span style="margin: 0 4px">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    style="width: 20px; height: 20px"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </span>
                <span>by</span>
                <a
                  class="primary-link"
                  href="https://alexei.me"
                  target="_blank"
                  style="margin-left: 4px"
                  >Alexey Antipov</a
                >
              </div>

              <div class="flex items-center justify-between text-xl">
                <a class="primary-link" href="/about/">About</a>
                <a class="primary-link" href="/catalog/">Catalog</a>
                <a class="primary-link" href="/blog/">Blog</a>
              </div>

              <div
                class="mt-6 flex flex-wrap items-center justify-around text-xl"
              >
                <a
                  class="primary-link flex items-center"
                  href="https://github.com/aantipov/moiva"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-1 h-5 w-5 fill-current text-white"
                    style="max-width: 50px; max-height: 50px"
                    role="img"
                    aria-label="GitHub icon"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
                    />
                  </svg>
                  GitHub</a
                >
                <a
                  class="primary-link flex items-center"
                  href="https://twitter.com/_aantipov"
                  target="_blank"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="mr-1 h-5 w-5 fill-current text-white"
                    style="max-width: 50px; max-height: 50px"
                    role="img"
                    aria-label="Twitter icon"
                    viewBox="0 0 24 24"
                  >
                    <g>
                      <path
                        d="M23.643 4.937c-.835.37-1.732.62-2.675.733a4.67 4.67 0 0 0 2.048-2.578a9.3 9.3 0 0 1-2.958 1.13a4.66 4.66 0 0 0-7.938 4.25a13.229 13.229 0 0 1-9.602-4.868c-.4.69-.63 1.49-.63 2.342A4.66 4.66 0 0 0 3.96 9.824a4.647 4.647 0 0 1-2.11-.583v.06a4.66 4.66 0 0 0 3.737 4.568a4.692 4.692 0 0 1-2.104.08a4.661 4.661 0 0 0 4.352 3.234a9.348 9.348 0 0 1-5.786 1.995a9.5 9.5 0 0 1-1.112-.065a13.175 13.175 0 0 0 7.14 2.093c8.57 0 13.255-7.098 13.255-13.254c0-.2-.005-.402-.014-.602a9.47 9.47 0 0 0 2.323-2.41l.002-.003z"
                      />
                    </g>
                  </svg>
                  Twitter</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>