---
import App from '@/App.vue';
import SearchApp from '@/SearchApp.vue';
import SuggestionsApp from '@/SuggestionsApp.vue';
import PopularApp from '@/astro-components/Popular.astro';
import MainLayout from '@/layouts/MainLayout.astro';

const isHomePage =
  Astro.url.searchParams.get('npm') === null &&
  Astro.url.searchParams.get('github') === null;
---

<MainLayout>
  <div class="flex-grow">
    {
      isHomePage ? (
        <div class="content container mt-8 mb-10 antialiased">
          <SearchApp isHomePage={true} client:load />
          <PopularApp />
        </div>
      ) : (
        <div>
          <div class="content container mt-8 antialiased">
            <SearchApp isHomePage={false} client:load />
            <SuggestionsApp client:only />
          </div>
          <App client:only="vue"> </App>
        </div>
      )
    }
  </div>
</MainLayout>
