---
import App from '@/App.vue';
import SearchApp from '@/SearchApp/index.vue';
import SuggestionsApp from '@/SuggestionsApp/index.vue';
import PopularApp from '@/astro-components/Popular.astro';
import MainLayout from '@/layouts/Main.astro';
import AppLayout from '@/layouts/App.astro';

const isHomePage =
  Astro.url.searchParams.get('npm') === null &&
  Astro.url.searchParams.get('github') === null;
---

{
  isHomePage ? (
    <MainLayout>
      <div class="flex-grow">
        <div class="content container mt-8 mb-10 antialiased">
          <div class="flex justify-center">
            <div class="xl:w-1/2 w-11/12 sm:w-3/4">
              <SearchApp isHomePage={true} client:load />
            </div>
          </div>
          <PopularApp />
        </div>
      </div>
    </MainLayout>
  ) : (
    <AppLayout>
      <App client:only="vue" />
    </AppLayout>
  )
}
