---
import ContentApp from '@/AiContentApp/AiContentApp.vue';
import type { NpmInfoApiResponseT } from '@/shared-types';

interface Props {
  npmPackages: string[];
}
const { npmPackages } = Astro.props;

const promises = npmPackages.map(
  (pkg) =>
    fetch(`${Astro.url.origin}/npm-info/${encodeURIComponent(pkg)}`).then(
      (res) => res.json()
    ) as Promise<NpmInfoApiResponseT>
);
// All errors will be handled in UI in order to achieve better SSR performance for happy cases
const data = await Promise.all(promises).catch((error) => null);
---

<div class="container antialiased content flex flex-col items-center">
  <ContentApp data={data || []} client:idle />
</div>
