---
import { constructHref } from '@/utils';

function makeHref(libs: string[]): string {
  return constructHref(libs, []);
}

const items: { name: string; libs: string[][] }[] = [
  {
    name: 'Frontend frameworks',
    libs: [
      ['react', 'svelte'],
      ['vue', 'solid-js'],
    ],
  },
  {
    name: 'State Management',
    libs: [
      ['redux', 'mobx'],
      ['xstate', 'redux'],
    ],
  },
  {
    name: 'CSS frameworks',
    libs: [
      ['bootstrap', 'tailwindcss'],
      ['bulma', 'foundation-sites'],
    ],
  },
  {
    name: 'Date utilities',
    libs: [
      ['moment', 'dayjs'],
      ['date-fns', 'luxon'],
    ],
  },
  {
    name: 'Utilities',
    libs: [['lodash', 'ramda']],
  },
  {
    name: 'Charts',
    libs: [
      ['chart.js', 'd3'],
      ['highcharts', 'plotly.js'],
    ],
  },
  {
    name: 'End-to-end testing',
    libs: [
      ['puppeteer', 'selenium-webdriver'],
      ['playwright', 'cypress'],
    ],
  },
  {
    name: 'Node.js frameworks',
    libs: [
      ['koa', 'express'],
      ['@nestjs/core', 'fastify'],
    ],
  },
  {
    name: 'Build Tools and Module Bundlers',
    libs: [
      ['webpack', 'vite'],
      ['esbuild', 'rollup'],
    ],
  },
  {
    name: 'Static Sites Generators',
    libs: [['next', 'remix']],
  },
  {
    name: 'Documentation Generators',
    libs: [
      ['@11ty/eleventy', '@docusaurus/core'],
      ['vuepress', 'astro'],
    ],
  },
  {
    name: 'Testing Frameworks',
    libs: [['jest', 'vitest']],
  },
];
---

<div class="mx-2 flex flex-col items-start sm:items-center">
  <h2 class="mt-4 mb-2 self-center sm:mt-8">Popular comparisons</h2>

  {
    items.map((item) => (
      <div class="mb-2 flex flex-wrap gap-1">
        <span>{item.name}: </span>
        {item.libs.map((libs, i) => (
          <span class="flex">
            <a href={makeHref(libs)}>{libs.join('-vs-')}</a>
            {i < item.libs.length - 1 && ', '}
          </span>
        ))}
      </div>
    ))
  }

  <div class="mt-4 font-light">
    Check out our <a href="/catalog/">Catalog</a> for inspiration.
  </div>
</div>
