---
import { constructHref } from '@/utils';

function makeHref(libs: string[]): string {
  return constructHref(libs, []);
}

const items = [
  {
    name: 'Frontend frameworks',
    libs: ['react', 'svelte', 'vue'],
    libsStr: 'React, Svelte, Vue',
  },
  {
    name: 'State Management',
    libs: ['redux', 'mobx', 'xstate'],
    libsStr: 'Redux, MobX, Xstate',
  },
  {
    libs: ['bootstrap', 'tailwindcss', 'bulma'],
    name: 'CSS frameworks',
    libsStr: 'Bootstrap, Tailwind CSS, Bulma',
  },
  {
    name: 'Date utilities',
    libs: ['moment', 'dayjs', 'date-fns'],
    libsStr: 'Moment.js, Day.js, date-fns',
  },
  {
    name: 'Utilities',
    libs: ['lodash', 'ramda'],
    libsStr: 'Lodash, Ramda',
  },
  {
    name: 'Charts',
    libs: ['chart.js', 'd3', 'highcharts'],
    libsStr: 'Chart.js, D3, Highcharts',
  },
  {
    name: 'End-to-end testing',
    libs: ['puppeteer', 'cypress', 'playwright'],
    libsStr: 'Puppeteer, Cypress, Playwright',
  },
  {
    name: 'Node.js frameworks',
    libs: ['koa', '@nestjs/core', 'fastify'],
    libsStr: 'Koa, NestJS, Fastify',
  },
  {
    name: 'Build Tools and Module Bundlers',
    libs: ['webpack', 'snowpack', 'vite'],
    libsStr: 'Webpack, Snowpack, Vite',
  },
  {
    name: 'Static Sites Generators',
    libs: ['next', 'gatsby', 'nuxt'],
    libsStr: 'Next.js, Gatsby, Nuxt.js',
  },
  {
    name: 'Documentation Generators',
    libs: ['@docusaurus/core', 'vuepress', 'docsify'],
    libsStr: 'Docusaurus, VuePress, Docsify',
  },
  {
    name: 'Testing Frameworks',
    libs: ['jest', 'ava', 'jasmine'],
    libsStr: 'Jest, Ava, Jasmine',
  },
];
---

<div class="mx-2 flex flex-col items-start sm:items-center">
  <h2 class="mt-4 mb-2 self-center sm:mt-8">Popular comparisons</h2>

  {
    items.map((item) => (
      <div class="mb-2">
        <a class="text-lg" href={makeHref(item.libs)}>
          {item.name}
        </a>
        :{' '}
        <span class="text-base text-black text-opacity-80 sm:text-lg">
          {item.libsStr}
        </span>
      </div>
    ))
  }

  <div class="mt-4 font-light">
    Check out our <a href="/catalog/">Catalog</a> for inspiration.
  </div>
</div>
