---
import Footer from './Footer.astro';
import SearchApp from '@/SearchApp/index.vue';
import SuggestionsApp from '@/SuggestionsApp/index.vue';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="Description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />

    <!-- Open Graph Tags -->
    <meta
      property="og:title"
      content="Moiva.io - Discover and Compare NPM packages"
    />
    <meta
      property="og:description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://moiva.io/images/moiva-head.jpg"
    />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@_aantipov" />
    <meta
      name="twitter:title"
      content="Moiva.io - Discover and Compare NPM packages"
    />
    <meta
      name="twitter:description"
      content="A complete side-by-side Comparison of NPM packages. Stats and Historical Trends - Bundle size, Downloads, GitHub Stars, License, Contributors, Releases, Commits, Developer usage, Google Trends, Vulnerabilities, Dependencies, Issues, Age and more"
    />
    <meta
      name="twitter:image"
      content="https://moiva.io/images/moiva-head.jpg"
    />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png?v=lkvYMB9erB"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png?v=lkvYMB9erB"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png?v=lkvYMB9erB"
    />
    <link rel="manifest" href="/favicon/site.webmanifest?v=lkvYMB9erB" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg?v=lkvYMB9erB"
      color="#404040"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=lkvYMB9erB" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-config"
      content="/favicon/browserconfig.xml?v=lkvYMB9erB"
    />
    <meta name="theme-color" content="#ffffff" />

    <title>Moiva.io - Discover and Compare GitHub and NPM packages</title>

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap"
      rel="stylesheet"
    />

    <script
      async
      defer
      data-domain="moiva.io"
      src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <noscript>
      <p style="padding: 20px; font-size: 30px">
        <strong
          >We're sorry but our website doesn't work properly without JavaScript
          enabled. Please enable it to continue.</strong
        >
      </p>
    </noscript>

    <!-- <Header /> -->
    <div class="w-full top-0 z-50 sticky">
      <div class="bg-black">
        <div
          class="container sm:h-14 text-white flex flex-col gap-2 pb-2 sm:pb-0 items-center sm:justify-center sm:relative"
        >
          <div
            class="h-full flex items-baseline sm:absolute left-0 mt-1 sm:mt-0"
          >
            <a
              style="font-family: Oswald, sans-serif"
              class="text-white text-opacity-80 no-underline hover:no-underline sm:text-5xl text-5xl"
              href="/">MOIVA</a
            >
          </div>
          <div
            class="flex self-center items-center justify-center pb-1 w-5/6 sm:w-3/5"
          >
            <SearchApp isHomePage={false} client:load />
          </div>
        </div>
      </div>
      <div class="bg-gray-100 w-full flex justify-center border">
        <div class="sm:w-5/6 xl:w-3/4 flex justify-center px-5 -mt-1 mb-1">
          <SuggestionsApp client:only />
        </div>
      </div>
    </div>

    <div class="grow">
      <slot />
    </div>

    <Footer />
  </body>
</html>
