---
---

<div class="container mt-5 antialiased md:mt-8">
  <div class="text-center">
    <a
      style="font-family: Oswald, sans-serif"
      class="text-7xl text-black text-opacity-80 no-underline hover:text-black hover:no-underline sm:text-9xl"
      href="/">MOIVA</a
    >
  </div>

  <img
    class="mx-auto h-7 sm:h-14"
    src="moiva.svg"
    width="290"
    height="48"
    alt="Logo - an image of capelin fish"
  />

  <div class="mx-auto mt-8 text-center text-xl sm:text-2xl">
    Evaluate and Compare NPM packages.
  </div>
</div>

<div class="container mt-5 md:mt-8">
  <div
    class="mx-4 text-center text-base italic text-black text-opacity-80 sm:mx-0 sm:text-lg"
  >
    We combine data from multiple sources for better Software Evaluation and
    Comparison.
  </div>

  <div
    class="flex flex-wrap items-center justify-center space-x-4 overflow-hidden"
  >
    <div class="pt-2">
      <img
        src="/images/google-logo.png"
        alt="Google logo"
        width="82"
        height="28"
        loading="lazy"
      />
    </div>

    <div class="pt-2">
      <img
        src="/images/npm-logo.png"
        alt="npm logo"
        width="62"
        height="24"
        loading="lazy"
      />
    </div>

    <div>
      <img
        src="/images/github-logo.png?v3"
        alt="GitHub logo"
        width="73"
        height="20"
        loading="lazy"
      />
    </div>

    <div class="pt-2">
      <img
        src="/images/thoughtworks-logo.png"
        alt="ThoughtWorks logo"
        width="121"
        height="20"
        loading="lazy"
      />
    </div>

    <div class="pt-1">
      <img
        src="/images/stateofjs-logo.png?v3"
        alt="StateOfJS survey logo"
        width="58"
        height="56"
        loading="lazy"
      />
    </div>

    <div class="pt-1">
      <img
        src="/images/snyk-logo.png"
        alt="Snyk logo"
        width="93"
        height="48"
        loading="lazy"
      />
    </div>

    <div class="pt-1">
      <img
        src="/images/bundlephobia-logo.png?v1"
        alt="Bundlephobia logo"
        width="60"
        height="48"
        loading="lazy"
      />
    </div>
  </div>
</div>
